@charset "UTF-8";

:root {
    --cor-texto: #333; /* Dark Gray */
    --cor-fundo : #f0f0f0; /* Light Gray */
    --cor01: #84C318; /* Yellow Green */
    --cor02: #78C0E0; /* Sky Blue */
    --cor03: #46237A; /* Tekhelet */
    --cor04: #D64933; /* Chilli Red */
    --cor05: #FFCB47; /* Sun GLow */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--cor-texto);
    background-color: var(--cor05);
}

header {
    background-color: var(--cor01);
    color: var(--cor-texto);
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray;
}

main {
    background-color: var(--cor-fundo);
    border-radius: 20px;
    width: 90vw;
    min-height: 90vh;
    margin: 150px auto 75px auto;
    padding: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

div {
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    background-color: var(--cor02);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

div.dialogo {
    color: black;
    font-weight: normal;
    background-color: var(--cor03);
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

div.codeblock {
    color: black;
    font-weight: normal;
    padding: 15px;
    border-radius: 0px;
    border: 2px solid var(--cor03);
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}


footer {
    background-color: var(--cor02);
    color: var(--cor-texto);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 10px;
    columns: 2;
    border: 1px solid black;
}

ol {
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    list-style-type: decimal;
    padding: 20px;
    columns: 2;
    border: 1px solid black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--cor03);
}

h2 {
    margin: 20px 0;
}
p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 20px;
}

pre {
    white-space: pre-line;
}
code {
    display: inline-block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 4px;
}